@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin:20px;
}

.mainButtons{
  background: #8751bd;
  color:#0a0a0a;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10%;
  width: 150px;
}

.enterButtons{
  background: #838ad7;
  color:#0a0a0a;
  margin: 7px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10%;
  width: 100px;
}

.dropdown{
  background: #c2c4e4;
  color:#0a0a0a;
  margin: 7px;
}

.textbox{
  background: #e8d9f5;
  color:#0a0a0a;
  margin: 7px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
